/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


h1, h2, h3 {
  display: flex;
  justify-content: center;
}

#player1{
  margin-left: 470px;
  
}

#player2{
  margin-left: 470px;
}

#butt{
  font-family: 'Montserrat';
  margin-left: 200px; 
  margin-top: 70px;
  color: white;
  background-color: darkseagreen;
  font-family: 'Gill Sans';
  
}

#truth{
    margin-top: 30px;
    font-family: 'Gill Sans';
    font-weight:600;
    color: azure;
}

#lay{
  margin-top: 250px;
  font-family: 'Gill Sans';
  color: azure;
}
 
#one{
  margin-top: 150px;
}

body{
  background: url("apurv-das-ciN8mnrlvFY-unsplash.jpg");
      height: 1200px;
      background-size: 1250px;
}

#one, #two{
  font-family: 'Gill Sans';
  color: azure;
}

#newest{
  font-family: 'Gill Sans';
  color: azure;
  margin-top: 260px;
}

#newer{
  font-family: 'Gill Sans';
  color: azure;
  margin-left: 100px;

}

#buo{
  margin-left: 50px;
  color: white;
  background-color: darkseagreen;
  font-family: 'Gill Sans';
}

#ogy{
  margin-left: 50px;
  color: white;
  background-color: darkseagreen;
  font-family: 'Gill Sans';
}
#bu{
  margin-left: 50px;
  color: white;
  background-color: darkseagreen;
  font-family: 'Gill Sans';
}

